* {
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
}
.container {
    padding: 0 13%;
}
@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/keywords';
@import 'blocks/about';
@import 'blocks/portfolio';
@import 'blocks/title';
@import 'blocks/inspiration';
@import 'blocks/customers';
@import 'blocks/footer';

@import 'base/media';