.footer {
    background-color: $dark-color;
    min-height: 200px;
    padding: 88px 0;
    .container {
        padding: 0 10%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__socials {
        // width: 156px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    &__item {
        width: 32px;
        height: 32px;
        border: 2px solid $light-color;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        span {
            color: $light-color;
        }
        // img {
        //     display: block;
        //     max-width: 100%;
        //     width: 22px;
        //     height: 22px;
        // }
    }
    &__address {
        color: $light-color;
        margin-bottom: 0;

    }
    &__phone {
        color: $light-color;
        text-decoration: none;
    }
}